# .gitignore file for project

# basic .gitignores
**/__pycache__/
libs
backup
peract_env

# super secret stuff
papers
prototypes

# peract stuff
peract/ckpts
peract/peract.egg-info
peract/data
peract/outputs


tutorial/peract_env
tutorial/peract_colab
tutorial/replay_train
tutorial/replay_test
