# .gitignore file for project

# basic .gitignores
**/__pycache__/
libs
backup
peract_env

# super secret stuff
papers
prototypes

# peract stuff
src/repos/peract/ckpts
src/repos/peract/peract.egg-info
src/repos/peract/data
src/repos/peract/outputs

# tutorial data
tutorial/peract_env
tutorial/peract_colab
tutorial/replay_train
tutorial/replay_test


# outputs
src/outputs