<launch>


    <arg name="sim_config_file" value="$(find percept)/config/sim_conf.yaml"/>
    <rosparam file="$(arg sim_config_file)" command="load"/>

    <group ns="sim_streamer"> 
        <arg name="no_headless" default="false"/>
        <node name="sim_streamer" pkg="percept" type="sim_stream.py" output="screen">
            <env name="COPPELIASIM_ROOT" value="$(env COPPELIASIM_ROOT)" />
            <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env COPPELIASIM_ROOT)" />
            <env name="QT_QPA_PLATFORM_PLUGIN_PATH" value="$(env COPPELIASIM_ROOT)" />
            
            <param name="no_headless" value="true" if="$(arg no_headless)" />
            <param name="no_headless" value="false" unless="$(arg no_headless)" />
        </node>
    </group>

    <group ns="perception">
        <arg name="pipeline_config_file" value="$(find percept)/config/sim_pipeline_conf.yaml"/>
        <rosparam file="$(arg pipeline_config_file)" command="load"/>

        <node name="perception_node" pkg="percept" type="sim_pipeline.py" output="screen"/>    
        <node name="sim_stream_rviz" pkg="rviz" type="rviz" args="-d $(find percept)/rviz/sim.rviz"/>
        <node name="perception_rviz" pkg="rviz" type="rviz" args="-d $(find percept)/rviz/perception.rviz"/>
    </group>
</launch>

