<launch>
<arg name = "pathToRosbag"  default = "/home/dev/percept/sample-data/d435i_sample_data/d435i_walking.bag" />
<arg name = "selectedTopics"  default = "-topics /device_0/sensor_0/Depth_0/image/data /device_0/sensor_1/Color_0/image/data" />
<remap from = "/device_0/sensor_0/Depth_0/image/data" to = "/device_0/Depth_Image" />
<remap from = "/device_0/sensor_1/Color_0/image/data" to = "/device_0/Color_Image" />
<node pkg  = "rosbag"
      type = "play"
      name = "rosbag_player"
      output="screen"
      args = "$(arg selectedTopics) $(arg pathToRosbag) -l"/>
</launch>