<launch>

  <group ns="cameras">

    <group ns="camera_1">
      <arg name="serial_no"           value="032622070733"/>
      <arg name="camera"              value="camera_1"/>
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="serial_no"         value="$(arg serial_no)"/>
        <arg name="enable_depth"      value="true"/>
        <arg name="depth_width"       value="640"/>
        <arg name="depth_height"      value="360"/>
        <arg name="depth_fps"         value="30"/>
        <arg name="enable_pointcloud" value="true"/>
        <arg name="pointcloud_texture_stream" default="RS2_STREAM_ANY"/> 
        <arg name="filters"           value="decimation,disparity,spatial,temporal,disparity,hole_filling"/> 
        <arg name="tf_prefix"         value="$(arg camera)"/> 
        <arg name="enable_sync"       value="true"/>
        <arg name="enable_color"      value="false"/>    
        <arg name="color_fps"         value="0"/>
      </include>
    </group>

    <group ns="camera_2">
      <arg name="serial_no"           value="9832109321093"/>
      <arg name="camera"              value="camera_2"/>
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="serial_no"         value="$(arg serial_no)"/>
        <arg name="enable_depth"      value="true"/>
        <arg name="depth_width"       value="640"/>
        <arg name="depth_height"      value="360"/>
        <arg name="depth_fps"         value="30"/>
        <arg name="enable_pointcloud" value="true"/>
        <arg name="pointcloud_texture_stream" default="RS2_STREAM_ANY"/> 
        <arg name="filters"           value="decimation,disparity,spatial,temporal,disparity,hole_filling"/> 
        <arg name="tf_prefix"         value="$(arg camera)"/> 
        <arg name="enable_sync"       value="true"/>
        <arg name="enable_color"      value="false"/>    
        <arg name="color_fps"         value="0"/>
      </include>
    </group>

  </group>
  
</launch>