<launch>
  
    <node name="sim_streamer" pkg="percept" type="sim_stream.py" output="screen">
        <env name="COPPELIASIM_ROOT" value="$(env COPPELIASIM_ROOT)" />
        <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env COPPELIASIM_ROOT)" />
        <env name="QT_QPA_PLATFORM_PLUGIN_PATH" value="$(env COPPELIASIM_ROOT)" />
    </node>

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find percept)/rviz/sim.rviz"/>
</launch>